body {
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 31.3em;
    border: 10px solid black;
}

header {
    background-color: black;
    color: white;
    height: 10em;
    position: relative }

header h1 {
    position: absolute;
    top: 20%;
    left: 11%;
    letter-spacing: 3px;
    }

header p {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 6%;
    letter-spacing: 4px;
    word-spacing: 40px;
}

a {
  color: grey;
  text-decoration: none;
}

h2 {
  font-size: 75%;
  margin: 15;
}

p {
  margin: 20;

}

footer {
  text-align: right;
  margin: 5
}
