body {
    background-image: url("apocolypse.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 31.3em;
}

header {
    background-color: black;
    color: green;
    height: 10em;
    opacity: .9;
    }

header h1 {
    position: relative;
    top: 30.75%;
    left: 9.75%;
    letter-spacing: 4px;
    }

header p {
    position: relative;
    top: 47.5%;
    left: 1.5%;
    letter-spacing: 4px;
    word-spacing: 40px;
    }

a {
    text-decoration: none;
    color: white;
}

div {
    background-color: darkgrey;
    opacity: 0.7;
    margin: 0;
    height: auto;
}

h2 {
  font-size: 100%;
  margin: 20;
  opacity: 1;
}

p {
  margin: 20;
  opacity: 1;
}

img {
  margin: 0;
}

footer {
  text-align: right;
  background-color: black;
  color: white;
  border: solid 5px black;
}
